sudo: false

language: generic

# Alternative to "language: java", which has node installed
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq nodejs

services:
  - docker

# jdkany contains extra packages that permit it to be used to build the manual
env:
  - JDKVER=jdk7 GROUP=junit
  - JDKVER=jdk7 GROUP=nonjunit
  - JDKVER=jdk8 GROUP=junit
  - JDKVER=jdk8 GROUP=nonjunit
  - JDKVER=jdkany GROUP=misc

before_script:
- docker pull mdernst/ubuntu-for-cf-$JDKVER

script:
- REMOTE_ORIGIN_URL=`git config --get remote.origin.url`
- >-
  docker run mdernst/ubuntu-for-cf-$JDKVER /bin/bash -c "true &&
     export JAVA_HOME=\`which javac|xargs readlink -f|xargs dirname|xargs dirname\` &&
     git clone --quiet -b $TRAVIS_BRANCH --depth 9 $REMOTE_ORIGIN_URL checker-framework &&
     cd checker-framework &&
     echo Travis event type: $TRAVIS_EVENT_TYPE &&
     echo Travis pull request: $TRAVIS_PULL_REQUEST &&
     if [ $TRAVIS_EVENT_TYPE = pull_request ] ; then
       git config user.email noone@cares.com
       git config user.name Noone Cares
       git remote add theupstream https://github.com/$TRAVIS_REPO_SLUG.git ;
       git pull theupstream master ;
     fi &&
     java -version &&
     javac -version &&
     ./.travis-build.sh $GROUP"

after_script:
  - |
      declare exitCode;

      curl -sSL https://raw.githubusercontent.com/mernst/travis-after-all/master/lib/travis-after-all.js | tac | tac | nodejs
      exitCode=$?
      echo "exitCode=$exitCode TRAVIS_BRANCH=$TRAVIS_BRANCH TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"

      if [ "$exitCode" -eq 0 ]; then
        if [[ ($TRAVIS_BRANCH == master) &&
              ($TRAVIS_PULL_REQUEST == false) ]] ; then
          curl -LO https://raw.github.com/mernst/plume-lib/master/bin/trigger-travis.sh
          sh trigger-travis.sh typetools checker-framework.demos $TRAVISTOKEN
          sh trigger-travis.sh typetools checker-framework-inference $TRAVISTOKEN
          sh trigger-travis.sh typetests daikon-typecheck $TRAVISTOKEN
          sh trigger-travis.sh typetests plume-lib-typecheck $TRAVISTOKEN
          sh trigger-travis.sh typetools sparta $TRAVISTOKEN
        fi
      fi

git:
  depth: 9
