sudo: false

language: generic

services:
  - docker

matrix:
env:
## Jobs used when downloading JDK during testing.
## all-tests = junit + nonjunit + demos.  Separately, test building the JDK.
  - BUILDJDK=downloadjdk JDKVER=jdk8 GROUP=all-tests
  - BUILDJDK=downloadjdk JDKVER=jdk8 GROUP=jdk.jar
  - BUILDJDK=downloadjdk JDKVER=jdk8 GROUP=downstream
#TODO  - BUILDJDK=downloadjdk JDKVER=jdk9 GROUP=all-tests
#TODO  - BUILDJDK=downloadjdk JDKVER=jdk9 GROUP=jdk.jar
#TODO  - BUILDJDK=downloadjdk JDKVER=jdk9 GROUP=downstream
  - BUILDJDK=downloadjdk JDKVER=jdkany GROUP=misc
## Jobs used when building JDK during testing.
#  - BUILDJDK=buildjdk JDKVER=jdk8 GROUP=junit
#  - BUILDJDK=buildjdk JDKVER=jdk8 GROUP=nonjunit
#  - BUILDJDK=buildjdk JDKVER=jdk8 GROUP=demos
#  - BUILDJDK=buildjdk JDKVER=jdk8 GROUP=downstream
#  - BUILDJDK=buildjdk JDKVER=jdk9 GROUP=junit
#  - BUILDJDK=buildjdk JDKVER=jdk9 GROUP=nonjunit
#  - BUILDJDK=buildjdk JDKVER=jdk9 GROUP=demos
#  - BUILDJDK=buildjdk JDKVER=jdk9 GROUP=downstream
#  - BUILDJDK=buildjdk JDKVER=jdkany GROUP=misc


before_script:
- docker pull mdernst/ubuntu-for-cf-$JDKVER

# Using travis_wait here seems to cause the job to terminate after 1 minute
# with no error (!).
script:
- REMOTE_ORIGIN_URL=`git config --get remote.origin.url`
- echo "JDKVER=${JDKVER}"
- echo "TRAVIS_BRANCH=${TRAVIS_BRANCH}"
- echo "REMOTE_ORIGIN_URL=${REMOTE_ORIGIN_URL}"
- echo "TRAVIS_EVENT_TYPE=${TRAVIS_EVENT_TYPE}"
- echo "TRAVIS_PULL_REQUEST=${TRAVIS_PULL_REQUEST}"
- echo "TRAVIS_PULL_REQUEST_BRANCH=${TRAVIS_PULL_REQUEST_BRANCH}"
- echo "TRAVIS_REPO_SLUG=${TRAVIS_REPO_SLUG}"
- echo "GROUP=${GROUP}"
- echo "BUILDJDK=${BUILDJDK}"
- >-
  docker run mdernst/ubuntu-for-cf-$JDKVER /bin/bash -c "true &&
     export JAVA_HOME=\`which javac|xargs readlink -f|xargs dirname|xargs dirname\` &&
     if [ $TRAVIS_EVENT_TYPE = pull_request ] ; then
       git clone --quiet --depth 9 $REMOTE_ORIGIN_URL checker-framework
       cd checker-framework
       git fetch origin +refs/pull/$TRAVIS_PULL_REQUEST/merge
       git checkout -qf FETCH_HEAD
       git config user.email noone@cares.com
       git config user.name Noone Cares
       git remote add theupstream https://github.com/$TRAVIS_REPO_SLUG.git
       git pull --depth 9 theupstream $TRAVIS_BRANCH
     else
       git clone --quiet -b $TRAVIS_BRANCH --depth 9 $REMOTE_ORIGIN_URL checker-framework
       cd checker-framework
     fi &&
     java -version &&
     javac -version &&
     export TRAVIS_REPO_SLUG=$TRAVIS_REPO_SLUG &&
     export TRAVIS_BUILD_DIR=$TRAVIS_BUILD_DIR &&
     ./.travis-build.sh $GROUP $BUILDJDK"

jobs:
  include:
    - stage: trigger-downstream
      script: |
          echo "TRAVIS_BRANCH=$TRAVIS_BRANCH TRAVIS_PULL_REQUEST=$TRAVIS_PULL_REQUEST"
          if [[ ($TRAVIS_BRANCH == master) &&
                ($TRAVIS_PULL_REQUEST == false) ]] ; then
            SLUGOWNER=${TRAVIS_REPO_SLUG%/*}
            if [[ "$SLUGOWNER" == "" ]]; then
              SLUGOWNER=typetools
            fi

            curl -LO https://raw.github.com/mernst/plume-lib/master/bin/trigger-travis.sh

            git ls-remote https://github.com/${SLUGOWNER}/checker-framework.demos.git &>-
            if [ "$?" -eq 0 ]; then
              sh trigger-travis.sh ${SLUGOWNER} checker-framework.demos $TRAVISTOKEN
            fi

            git ls-remote https://github.com/${SLUGOWNER}/checker-framework-inference.git &>-
            if [ "$?" -eq 0 ]; then
              sh trigger-travis.sh ${SLUGOWNER} checker-framework-inference $TRAVISTOKEN
            fi

            git ls-remote https://github.com/${SLUGOWNER}/sparta.git &>-
            if [ "$?" -eq 0 ]; then
              sh trigger-travis.sh ${SLUGOWNER} sparta $TRAVISTOKEN
            fi

            if [[ "${SLUGOWNER}" == "typetools" ]]; then
              sh trigger-travis.sh typetests daikon-typecheck $TRAVISTOKEN
              sh trigger-travis.sh typetests plume-lib-typecheck $TRAVISTOKEN
            fi
          fi

git:
  depth: 9
