# Workaround for https://status.dev.azure.com/_event/179641421
trigger:
  branches:
    include:
    - '*'
pr:
  branches:
    include:
    - '*'

jobs:

# The dependsOn clauses are:
#  * Everything depends on the canary jobs (the main jdk21 jobs), except those jobs themselves.
#  * Anything *_jdk11 or *_jdk17 or *_jdk20 depends on *_jdk21.
## TODO: The jdk20 jobs are a bit gratuitous.  They are placeholders for jdk22 when it is released.
## Leaving those placeholders will ease the jdk22 edits to this file.

# misc_jdk20 because JDK 20 adds more strict checking (e.g., Javadoc)
- job: canary_jobs
  dependsOn:
   - junit_jdk21
   - nonjunit_jdk21
   - inference_part1_jdk21
   - inference_part2_jdk21
   - typecheck_part1_jdk21
   - typecheck_part2_jdk21
   - misc_jdk21
   # - misc_jdk20
  pool:
    vmImage: 'ubuntu-latest'
  steps:
  - bash: true
    displayName: canary_jobs

- job: junit_jdk11
  dependsOn:
   - canary_jobs
   - junit_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-junit.sh
    displayName: test-cftests-junit.sh
- job: junit_jdk17
  dependsOn:
   - canary_jobs
   - junit_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk17:latest
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-junit.sh
    displayName: test-cftests-junit.sh
- job: junit_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk21:latest
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-junit.sh
    displayName: test-cftests-junit.sh
# - job: junit_jdk20
#  dependsOn:
#   - canary_jobs
#  pool:
#    vmImage: 'ubuntu-latest'
#  container: mdernst/cf-ubuntu-jdk20:latest
#  timeoutInMinutes: 70
#  steps:
#  - checkout: self
#    fetchDepth: 25
#  - bash: ./checker/bin-devel/test-cftests-junit.sh
#    displayName: test-cftests-junit.sh
- job: nonjunit_jdk11
  dependsOn:
   - canary_jobs
   - nonjunit_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-nonjunit.sh
    displayName: test-cftests-nonjunit.sh
- job: nonjunit_jdk17
  dependsOn:
   - canary_jobs
   - nonjunit_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-nonjunit.sh
    displayName: test-cftests-nonjunit.sh
- job: nonjunit_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk21:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-nonjunit.sh
    displayName: test-cftests-nonjunit.sh
# - job: nonjunit_jdk20
#  dependsOn:
#   - canary_jobs
#  pool:
#    vmImage: 'ubuntu-latest'
#  container: mdernst/cf-ubuntu-jdk20:latest
#  steps:
#  - checkout: self
#    fetchDepth: 25
#  - bash: ./checker/bin-devel/test-cftests-nonjunit.sh
#    displayName: test-cftests-nonjunit.sh
# Sometimes one of the invocations of wpi-many in `./gradlew wpiManyTest`
# takes much longer to complete than normal, and this Azure job times out.
# When there is a timeout, one cannot examine wpi or wpi-many logs.
# So use a timeout of 90 minutes, and hope that is enough.
- job: inference_jdk11
  dependsOn:
   - canary_jobs
   - inference_part1_jdk21
   - inference_part2_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  timeoutInMinutes: 90
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-inference.sh
    displayName: test-cftests-inference.sh
- job: inference_jdk17
  dependsOn:
   - canary_jobs
   - inference_part1_jdk21
   - inference_part2_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk17:latest
  timeoutInMinutes: 90
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-inference.sh
    displayName: test-cftests-inference.sh
# Split into part1 and part2 only for the inference job that "canary_jobs" depends on.
- job: inference_part1_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk21:latest
  timeoutInMinutes: 90
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-inference-part1.sh
    displayName: test-cftests-inference-part1.sh
- job: inference_part2_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk21:latest
  timeoutInMinutes: 90
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-inference-part2.sh
    displayName: test-cftests-inference-part2.sh
# - job: inference_jdk20
#   dependsOn:
#    - canary_jobs
#    - inference_part1_jdk21
#    - inference_part2_jdk21
#   pool:
#     vmImage: 'ubuntu-latest'
#   container: mdernst/cf-ubuntu-jdk20:latest
#   timeoutInMinutes: 90
#   steps:
#   - checkout: self
#     fetchDepth: 25
#   - bash: ./checker/bin-devel/test-cftests-inference.sh
#    displayName: test-cftests-inference.sh
# Unlimited fetchDepth for misc_jobs, because of need to make contributors.tex
- job: misc_jdk11
  dependsOn:
   - canary_jobs
   - misc_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-misc.sh
    displayName: test-misc.sh
- job: misc_jdk17
  dependsOn:
   - canary_jobs
   - misc_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk17-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-misc.sh
    displayName: test-misc.sh
- job: misc_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk21-plus:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-misc.sh
    displayName: test-misc.sh
# - job: misc_jdk20
#  dependsOn:
#   # - canary_jobs
#   - misc_jdk21
#  pool:
#    vmImage: 'ubuntu-latest'
#  container: mdernst/cf-ubuntu-jdk20-plus:latest
#  steps:
#  - checkout: self
#    fetchDepth: 25
#  - bash: ./checker/bin-devel/test-misc.sh
#    displayName: test-misc.sh
- job: typecheck_jdk11
  dependsOn:
   - canary_jobs
   - typecheck_part1_jdk21
   - typecheck_part2_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 1000
  - bash: ./checker/bin-devel/test-typecheck.sh
    displayName: test-typecheck.sh
- job: typecheck_jdk17
  dependsOn:
   - canary_jobs
   - typecheck_part1_jdk21
   - typecheck_part2_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk17-plus:latest
  steps:
  - checkout: self
    fetchDepth: 1000
  - bash: ./checker/bin-devel/test-typecheck.sh
    displayName: test-typecheck.sh
# Split into part1 and part2 only for the type-checking job that "canary_jobs" depends on.
- job: typecheck_part1_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk21-plus:latest
  steps:
  - checkout: self
    fetchDepth: 1000
  - bash: ./checker/bin-devel/test-typecheck-part1.sh
    displayName: test-typecheck-part1.sh
- job: typecheck_part2_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk21-plus:latest
  steps:
  - checkout: self
    fetchDepth: 1000
  - bash: ./checker/bin-devel/test-typecheck-part2.sh
    displayName: test-typecheck-part2.sh
# - job: typecheck_jdk20
#   dependsOn:
#   - canary_jobs
#   - typecheck_part1_jdk21
#   - typecheck_part2_jdk21
#  pool:
#    vmImage: 'ubuntu-latest'
#  container: mdernst/cf-ubuntu-jdk20-plus:latest
#  steps:
#  - checkout: self
#    fetchDepth: 1000
#  - bash: ./checker/bin-devel/test-typecheck.sh
#    displayName: test-typecheck.sh
- job: daikon_jdk11
  dependsOn:
   - canary_jobs
   - daikon_part1_jdk21
   - daikon_part2_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  timeoutInMinutes: 80
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-daikon.sh
    displayName: test-daikon.sh
- job: daikon_jdk17
  dependsOn:
   - canary_jobs
   - daikon_part1_jdk21
   - daikon_part2_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk17:latest
  timeoutInMinutes: 80
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-daikon.sh
    displayName: test-daikon.sh
- job: daikon_part1_jdk21
  dependsOn:
   - canary_jobs
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk21:latest
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-daikon-part1.sh
    displayName: test-daikon.sh
- job: daikon_part2_jdk21
  dependsOn:
   - canary_jobs
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk21:latest
  timeoutInMinutes: 80
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-daikon.sh
    displayName: test-daikon-part2.sh
# - job: daikon_jdk20
#   dependsOn:
#   - canary_jobs
#   - daikon_part1_jdk21
#   - daikon_part2_jdk21
#  pool:
#    vmImage: 'ubuntu-latest'
#  container: mdernst/cf-ubuntu-jdk20:latest
#  timeoutInMinutes: 80
#  steps:
#  - checkout: self
#    fetchDepth: 25
#  - bash: ./checker/bin-devel/test-daikon.sh
#    displayName: test-daikon.sh
- job: guava_jdk11
  dependsOn:
   - canary_jobs
   - guava_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-guava.sh
    displayName: test-guava.sh
- job: guava_jdk17
  dependsOn:
   - canary_jobs
   - guava_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk17:latest
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-guava.sh
    displayName: test-guava.sh
- job: guava_jdk21
  dependsOn:
   - canary_jobs
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk21:latest
  # The guava job sometimes times out, because the time between these lines can be 30 minutes!
  #   [INFO] Downloading from central: https://repo.maven.apache.org/maven2/org/apache/maven/plugin-tools/maven-plugin-tools-generators/3.5.1/maven-plugin-tools-generators-3.5.1.pom
  #   [INFO] Downloaded from central: https://repo.maven.apache.org/maven2/org/apache/maven/plugin-tools/maven-plugin-tools-generators/3.5.1/maven-plugin-tools-generators-3.5.1.pom
  # I tried to configure Maven to prevent that problem, but it is still ocurring.
  # Maybe I need to use caching? https://learn.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-guava.sh
    displayName: test-guava.sh
# - job: guava_jdk20
#  dependsOn:
#   - canary_jobs
#   - guava_jdk21
#  pool:
#    vmImage: 'ubuntu-latest'
#  container: mdernst/cf-ubuntu-jdk20:latest
#  timeoutInMinutes: 70
#  steps:
#  - checkout: self
#    fetchDepth: 25
#  - bash: ./checker/bin-devel/test-guava.sh
#    displayName: test-guava.sh
- job: plume_lib_jdk11
  dependsOn:
   - canary_jobs
   - plume_lib_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-plume-lib.sh
    displayName: test-plume-lib.sh
- job: plume_lib_jdk17
  dependsOn:
   - canary_jobs
   - plume_lib_jdk21
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk17:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-plume-lib.sh
    displayName: test-plume-lib.sh
- job: plume_lib_jdk21
  dependsOn:
   - canary_jobs
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk21:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-plume-lib.sh
    displayName: test-plume-lib.sh
# - job: plume_lib_jdk20
#  dependsOn:
#   - canary_jobs
#   - plume_lib_jdk21
#  pool:
#    vmImage: 'ubuntu-latest'
#  container: mdernst/cf-ubuntu-jdk20:latest
#  steps:
#  - checkout: self
#    fetchDepth: 25
#  - bash: ./checker/bin-devel/test-plume-lib.sh
#    displayName: test-plume-lib.sh
## The downstream jobs are not currently needed because test-downstream.sh is empty.
# - job: downstream_jdk11
#   dependsOn:
#    - canary_jobs
#    - downstream_jdk21
#   pool:
#     vmImage: 'ubuntu-latest'
#   container: mdernst/cf-ubuntu-jdk11:latest
#   steps:
#   - checkout: self
#     fetchDepth: 25
#   - bash: ./checker/bin-devel/test-downstream.sh
#     displayName: test-downstream.sh
# - job: downstream_jdk17
#   dependsOn:
#    - canary_jobs
#    - downstream_jdk21
#   pool:
#     vmImage: 'ubuntu-latest'
#   container: mdernst/cf-ubuntu-jdk17:latest
#   steps:
#   - checkout: self
#     fetchDepth: 25
#   - bash: ./checker/bin-devel/test-downstream.sh
#     displayName: test-downstream.sh
# - job: downstream_jdk21
#   dependsOn:
#    - canary_jobs
#   pool:
#     vmImage: 'ubuntu-latest'
#   container: mdernst/cf-ubuntu-jdk21:latest
#   steps:
#   - checkout: self
#     fetchDepth: 25
#   - bash: ./checker/bin-devel/test-downstream.sh
#     displayName: test-downstream.sh
# - job: downstream_jdk20
#   dependsOn:
#    - canary_jobs
#    - downstream_jdk21
#   pool:
#     vmImage: 'ubuntu-latest'
#   container: mdernst/cf-ubuntu-jdk20:latest
#   steps:
#   - checkout: self
#     fetchDepth: 25
#   - bash: ./checker/bin-devel/test-downstream.sh
#     displayName: test-downstream.sh
