# Workaround for https://status.dev.azure.com/_event/179641421
trigger:
  branches:
    include:
    - '*'
pr:
  branches:
    include:
    - '*'


jobs:
- job: junit_tests_jdk8
  dependsOn:
   - junit_tests_jdk11
   - nonjunit_tests_jdk11
   - misc_jdk11
   - typecheck_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-junit.sh
    displayName: test-cftests-junit.sh
- job: junit_tests_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-junit.sh
    displayName: test-cftests-junit.sh
- job: nonjunit_tests_jdk8
  dependsOn:
   - junit_tests_jdk11
   - nonjunit_tests_jdk11
   - misc_jdk11
   - typecheck_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-nonjunit.sh
    displayName: test-cftests-nonjunit.sh
- job: nonjunit_tests_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-nonjunit.sh
    displayName: test-cftests-nonjunit.sh
- job: inference_tests_jdk8
  dependsOn:
   - junit_tests_jdk11
   - inference_tests_jdk11
   - misc_jdk11
   - typecheck_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-inference.sh
    displayName: test-cftests-inference.sh
- job: inference_tests_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-cftests-inference.sh
    displayName: test-cftests-inference.sh
- job: misc_jdk8
  dependsOn:
   - junit_tests_jdk11
   - nonjunit_tests_jdk11
   - misc_jdk11
   - typecheck_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 1000
  - bash: ./checker/bin-devel/test-misc.sh
    displayName: test-misc.sh
- job: misc_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 1000
  - bash: ./checker/bin-devel/test-misc.sh
    displayName: test-misc.sh
- job: typecheck_jdk8
  dependsOn:
   - junit_tests_jdk11
   - nonjunit_tests_jdk11
   - misc_jdk11
   - typecheck_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk8-plus:latest
  steps:
  - checkout: self
    fetchDepth: 1000
  - bash: ./checker/bin-devel/test-typecheck.sh
    displayName: test-typecheck.sh
- job: typecheck_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11-plus:latest
  steps:
  - checkout: self
    fetchDepth: 1000
  - bash: ./checker/bin-devel/test-typecheck.sh
    displayName: test-typecheck.sh
- job: daikon_jdk8
  dependsOn:
   - junit_tests_jdk11
   - nonjunit_tests_jdk11
   - misc_jdk11
   - typecheck_jdk11
   ## Commented to reduce latency and eliminate the "daikon_jdk11 -> daikon_jdk8" critical path.
   # - daikon_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk8:latest
  timeoutInMinutes: 70
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-daikon.sh
    displayName: test-daikon.sh
- job: daikon_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-daikon.sh
    displayName: test-daikon.sh
- job: guava_jdk8
  dependsOn:
   - junit_tests_jdk11
   - nonjunit_tests_jdk11
   - misc_jdk11
   - typecheck_jdk11
   - guava_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-guava.sh
    displayName: test-guava.sh
- job: guava_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-guava.sh
    displayName: test-guava.sh
- job: plume_lib_jdk8
  dependsOn:
   - junit_tests_jdk11
   - nonjunit_tests_jdk11
   - misc_jdk11
   - typecheck_jdk11
   - plume_lib_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk8:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-plume-lib.sh
    displayName: test-plume-lib.sh
- job: plume_lib_jdk11
  pool:
    vmImage: 'ubuntu-latest'
  container: mdernst/cf-ubuntu-jdk11:latest
  steps:
  - checkout: self
    fetchDepth: 25
  - bash: ./checker/bin-devel/test-plume-lib.sh
    displayName: test-plume-lib.sh
# - job: downstream_jdk8
#   dependsOn:
#    - junit_tests_jdk11
#    - nonjunit_tests_jdk11
#    - misc_jdk11
#    - typecheck_jdk11
#    - downstream_jdk11
#   pool:
#     vmImage: 'ubuntu-latest'
#   container: mdernst/cf-ubuntu-jdk8:latest
#   steps:
#   - checkout: self
#     fetchDepth: 25
#   - bash: ./checker/bin-devel/test-downstream.sh
#     displayName: test-downstream.sh
# - job: downstream_jdk11
#   pool:
#     vmImage: 'ubuntu-latest'
#   container: mdernst/cf-ubuntu-jdk11:latest
#   steps:
#   - checkout: self
#     fetchDepth: 25
#   - bash: ./checker/bin-devel/test-downstream.sh
#     displayName: test-downstream.sh
