<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.5"?>

<plugin>
  <extension point="org.eclipse.ui.preferencePages">
    <page id="org.checkerframework.eclipse.prefs.CheckerPreferences"
       name="Checker Framework"
      class="org.checkerframework.eclipse.ui.CheckerPreferencePage">
       </page>
  </extension>

  <extension point="org.eclipse.core.runtime.preferences">
    <initializer class="org.checkerframework.eclipse.prefs.PreferenceInitializer" />
  </extension>

<!--
  <extension
    id="buildnature"
       name="%extension.name"
       point="org.eclipse.core.resources.natures">
       <runtime>
      <run class="checkers.eclipse.natures.CheckerBuildNature"/>
    </runtime>
    <builder id="checkers.eclipse.checkerbuilder"/>
    <requires-nature id="org.eclipse.jdt.core.javanature"/>
  </extension>

  <extension
    id="checkerbuilder"
    name="%extension.name.0"
    point="org.eclipse.core.resources.builders">
    <builder hasNature="true">
      <run class="checkers.eclipse.builder.CheckerBuilder">
        <parameter name="optimize" value="true"/>
        <parameter name="comment" value="CheckerBuilder"/>
      </run>
    </builder>
  </extension>-->

  <extension
    id="checker.framework.eclipse.plugin.marker"
    name="%extension.name.1"
    point="org.eclipse.core.resources.markers">
    <super type="org.eclipse.core.resources.problemmarker"/>
    <super type="org.eclipse.core.resources.textmarker"/>
    <persistent value="true"/>
  </extension>

  <!--extension
    point="org.eclipse.ui.ide.markerResolution">
    <markerResolutionGenerator
      markerType="checker.framework.eclipse.plugin.marker"
      class="checkers.eclipse.marker.CheckerResolutionGenerator">
    </markerResolutionGenerator>
  </extension-->

  <extension
    point="org.eclipse.ui.menus">
    <menuContribution
      locationURI="popup:org.eclipse.ui.popup.any?after=additions">
      <menu
        id="checkers.eclipse.menu"
        label="Checker Framework">
        <command
          commandId="checkers.eclipse.runselected"
          label="Run Selected Checkers"
          style="push">
        </command>
        <command
          commandId="checkers.eclipse.clearmarkers"
          label="Clear Checker Markers"
          style="push">
        </command>

        <!--<command
          commandId="checkers.eclipse.enablenature"
          label="Enable Automatic Checking"
          style="push">
        </command>
        <command
          commandId="checkers.eclipse.disablenature"
          label="Disable Automatic Checking"
          style="push">
        </command> -->
        <!--<command
          commandId="checkers.eclipse.addcheckers"
          label="Add checkers-quals.jar to project"
          style="push">
          <visibleWhen checkEnabled="false">
            <with variable="activeMenuSelection">
              <iterate>
                <adapt type="org.eclipse.core.resources.IProject">
                </adapt>
              </iterate>
            </with>
          </visibleWhen>
        </command>-->
        <separator
          name="separator1"
          visible="true">
        </separator>
        <menu
          label="Run Built-in Checker">
          <command
            commandId="checkers.eclipse.runnullness"
            label="Nullness Checker"
            style="push">
          </command>
          <command
            commandId="checkers.eclipse.runinterning"
            label="Interning Checker"
            style="push">
          </command>
          <command
            commandId="checkers.eclipse.runlock"
            label="Lock Checker"
            style="push">
          </command>
          <command
            commandId="checkers.eclipse.runindex"
            label="Index Checker"
            style="push">
          </command>
          <command
            commandId="checkers.eclipse.runfenum"
            label="Fenum Checker"
            style="push">
          </command>
          <command
            commandId="checkers.eclipse.runtainting"
            label="Tainting Checker"
            style="push">
          </command>
          <command
            commandId="checkers.eclipse.runregex"
            label="Regex Checker"
            style="push">
          </command>
          <command
            commandId="checkers.eclipse.runformatstring"
            label="Format String Checker"
            style="push">
          </command>
          <command
            commandId="checkers.eclipse.runi18nformatstring"
            label="I18n Format String Checker"
            style="push">
          </command>
          <command
            commandId="checkers.eclipse.runpropertychecker"
            label="Property File Checker"
            style="push">
          </command>
           <command
            commandId="checkers.eclipse.runi18n"
            label="I18n Checker"
            style="push">
           </command>
           <command
            commandId="checkers.eclipse.runsignaturechecker"
            label="Signature Checker"
            style="push">
           </command>
           <command
            commandId="checkers.eclipse.runguieffectchecker"
            label="Gui Effect Checker"
            style="push">
           </command>
           <command
            commandId="checkers.eclipse.rununitchecker"
            label="Units Checker"
            style="push">
           </command>
           <command
            commandId="checkers.eclipse.runsignednesschecker"
            label="Signedness Checker"
            style="push">
           </command>
          <command
            commandId="checkers.eclipse.runconstantvaluechecker"
            label="Constant Value Checker"
            style="push">
          </command>
          <command
            commandId="checkers.eclipse.runaliasingchecker"
            label="Aliasing Checker"
            style="push">
          </command>
          <command
            commandId="checkers.eclipse.runlinear"
            label="Linear Checker"
            style="push">
          </command>
          <command
            commandId="checkers.eclipse.runsubtypingchecker"
            label="Subtyping Checker"
            style="push">
          </command>
        </menu>
        <dynamic
              class="org.checkerframework.eclipse.ui.CustomCheckersMenu"
              id="org.checkerframework.eclipse.ui.CustomCheckersMenu">
        </dynamic>
        <visibleWhen checkEnabled="false">
          <with variable="activeMenuSelection">
              <!--<or>-->
                <iterate>
                  <adapt type="org.eclipse.jdt.internal.core.JavaElement">
                  </adapt>
                </iterate>
                <!--<iterate>
                  <adapt type="org.eclipse.core.resources.IProject">
                  </adapt> TODO: IS THIS OK TRY CHECKING WHOLE PROJECT
                </iterate>-->
            <!--</or>-->
          </with>
        </visibleWhen>
      </menu>
    </menuContribution>
  </extension>

  <extension
    point="org.eclipse.ui.commands">
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$NullnessAction"
      id="checkers.eclipse.runnullness"
      name="Run Nullness Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$InterningAction"
      id="checkers.eclipse.runinterning"
      name="Run Interning Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$LockAction"
      id="checkers.eclipse.runlock"
      name="Run Lock Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$IndexAction"
      id="checkers.eclipse.runindex"
      name="Run Index Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$FenumAction"
      id="checkers.eclipse.runfenum"
      name="Run Fenum Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$TaintingAction"
      id="checkers.eclipse.runtainting"
      name="Run Tainting Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$RegexAction"
      id="checkers.eclipse.runregex"
      name="Run Regex Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$FormatterAction"
      id="checkers.eclipse.runformatstring"
      name="Run Format String Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$I18nFormatterAction"
      id="checkers.eclipse.runi18nformatstring"
      name="Run I18n Format String Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$PropertyFileAction"
      id="checkers.eclipse.runpropertychecker"
      name="Run Property File Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$I18nAction"
      id="checkers.eclipse.runi18n"
      name="Run I18n Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$SignatureAction"
      id="checkers.eclipse.runsignaturechecker"
      name="Run Signature Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$GuiEffectAction"
      id="checkers.eclipse.runguieffectchecker"
      name="Run Gui Effect Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$UnitAction"
      id="checkers.eclipse.rununitchecker"
      name="Run Units Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$SignednessAction"
      id="checkers.eclipse.runsignednesschecker"
      name="Run Signedness Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$ConstantValueAction"
      id="checkers.eclipse.runconstantvaluechecker"
      name="Run Constant Value Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$AliasingAction"
      id="checkers.eclipse.runaliasingchecker"
      name="Run Aliasing Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$LinearAction"
      id="checkers.eclipse.runlinear"
      name="Run Linear Checker">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$SubtypingAction"
      id="checkers.eclipse.runsubtypingchecker"
      name="Run Subtyping Checker">
    </command>

    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.ClearMarkersAction"
      id="checkers.eclipse.clearmarkers"
      name="Clear Project Markers">
    </command>
    <!--<command
      categoryId="checkers.eclipse.category"
      defaultHandler="checkers.eclipse.actions.EnableNatureHandler"
      id="checkers.eclipse.enablenature"
      name="Enable Automatic Checking">
    </command>  TODO: CAN I COMMENT OUT THE BUILDER?
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="checkers.eclipse.actions.DisableNatureHandler"
      id="checkers.eclipse.disablenature"
      name="Disable Automatic Checking">
    </command>-->
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$CurrentAction"
      id="checkers.eclipse.runselected"
      name="Run Selected Checkers">
    </command>
    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.CheckerActions$SingleCustomAction"
      id="checkers.eclipse.singlecustom"
      name="Run Single Custom Checker">
       <commandParameter
             id="checker-framework-eclipse-plugin.checker"
             name="Checker To Run"
             optional="false">
       </commandParameter>
    </command>

    <command
      categoryId="checkers.eclipse.category"
      defaultHandler="org.checkerframework.eclipse.actions.AddCheckersHandler"
      id="checkers.eclipse.addcheckers"
      name="Add checkers-quals.jar to project">
    </command>
    <category
      id="checkers.eclipse.category"
      name="Checker Plugin">
    </category>
  </extension>

  <extension point="org.eclipse.help.toc">
    <toc file="toc.xml" primary="true" />
  </extension>

  <extension
    point="org.eclipse.ui.bindings">
    <key
      commandId="checkers.eclipse.runselected"
      contextId="org.eclipse.ui.contexts.window"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
      sequence="Ctrl+Alt+C">
    </key>
    <key
      commandId="checkers.eclipse.clearmarkers"
      contextId="org.eclipse.ui.contexts.window"
      schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
      sequence="Shift+Ctrl+C">
    </key>
  </extension>

</plugin>
